* {margin: 0; padding: 0;}

.header {
  height: 150px;
  width: 100%;
  background-color: grey;
  
}
.left-side {
  height: calc( 107vh - 200px );
  width: 20%;
  background-color: black;
  float: left;
}
.right-side {
  height: calc( 107vh - 200px );
  width: 20%;
  background-color: black;
  float: right;
}
.footer {
height: 50px;
width: calc(60%);
position: absolute;
bottom: 0;
left: 20%;
background-color: grey;
}